--- 
title: Breadboard
---

<div class="figure" style="width: 50%">
  <p> <img class="scaled" src="/images/breadboards.JPG"/>
  Two breadboards. Green lines show internal connections.</p>
</div> 	

A [breadboard](http://en.wikipedia.org/wiki/Breadboard) has many holes, normally spaced 0.1" apart that you can insert leads/wires into that will be held in place by metal contacts inside. This allows fast prototyping of circuits, without the need to solder anything together.

There are many columns (often numbered) which are logically a single point (i.e. they are all connected together internally). There is normally a bridge in the centre; this separates one side from the other, both in terms of space and connectivity. If attaching a [breakout board](/components/breakout_board/), its two rows of pins should go on opposite sides of this bridge. 

<div class="figure" style="width: 50%">
  <p> <img class="scaled" src="/images/breadboard-side.JPG"/>
  Side view of transparent breadboard showing the internal connections of the clips.</p>
</div>

A breadboard will normally have two long rows (sometimes two each side) that run the whole board length (or should be clearly marked if in sections) that are designed to provide easy access to ground and power, these are normally referred to as power rails.

For more information on how to use a breadboard, see our [breadboard tutorial](/breadboard/).

## PURCHASE

Breadboards can be purchased from most electronics retailers.
