--- 
title: Breakout Board
---

<img class="scaled" src="/images/breakout_board.JPG" />

A breakout board is used to connect a [ribbon cable](/components/ribbon_cable/) to a [breadboard](/components/breadboard/), allowing larger circuits to be prototyped more easily. The two rows of pins on the breakout board should go on either side of the central divide on the breadboard:

<div class="figure" style="width: 100%">
  <p> <img class="scaled" src="/images/breadboard-breakout.JPG"/>
  Breakout board clipped in place on a breadboard.</p>
</div>

If you do not have a breakout board, it is possible to plug wires and components directly into the Pi's GPIO pins.

## PURCHASE

Breakout boards can be purchased as part of [Adafruit's breakout kit](http://adafruit.com/products/914).
