--- 
title: Custom Pi Shield
---

<img class="scaled" src="/images/custom_pi_shield.JPG"/>

The custom Pi shield was developed to make some interesting projects easier and safer. Examples of this are [controlling servos](/robot_control/) and [near field communication](/nfc/). It also provides protection for all of the Raspberry Pi's GPIO pins and makes them more accessible, so the Pi is not damaged if you accidentally send too much current.

We provide a [quick-reference card](/resources/pcb_reference.pdf) describing the functionality of all components.

## PURCHASE

This PCB is currently custom made and unavailable for purchase.

Experts only: all information required to build the custom Pi shield can be found [here](/resources/robot_pcb.zip).

The PWM driver chip (allowing control of servos) is available on a board from [Adafruit](http://www.adafruit.com/products/815). Information on how to connect this board to the Raspberry Pi is [here](http://learn.adafruit.com/adafruit-16-channel-servo-driver-with-raspberry-pi/hooking-it-up).
