--- 
title: Jumper Wires
---

<img class="scaled" src="/images/wiring_kit.JPG" />

Jumper wires are used to make it easier to manage circuits built on a [breadboard](/components/breadboard/). They allow the components of the circuit to be spread out more, allowing easier access, and also allows them to be laid out in a more logical fashion. The wires are usually cut to lengths such that they fit neatly between two holes in the breadboard, but it is easy enough to create your own using a length of wire and some wire strippers.

## PURCHASE

Jumper wires can be purchased from most electronics retailers.
