--- 
title: Light-emitting diode (LED)
---

<img class="scaled" src="/images/led.JPG" />

An LED is a very simple electronics component which lights up when electricity flows through it. Since it is a diode, electricity can only flow one way. There is usually a flat section on the side of the LED to mark its polarity: this side should be connected to ground. This side usually also has a shorter "leg".

In order to prevent too much current flowing through an LED and damaging it, it should be connected in series with a resistor. See [here](http://www.evilmadscientist.com/2012/resistors-for-leds/) for information on how to select an appropriate resistor.

## PURCHASE

LEDs can be purchased from most electronics retailers.
