--- 
title: Raspberry Pi
---

<img class="scaled" src="/images/raspberry_pi.JPG" />

The Raspberry Pi is the main component of all examples on this website. It contains an ARM processor which does all of the computation, and a wide variety of input and output ports to allow it to communicate with the outside world.

## PURCHASE

Raspberry Pis are available for purchase online from two distributors: Premier Farnell and RS Components. They trade under different names depending on where in the world you are, so see [here](http://elinux.org/RPi_Buying_Links_By_Country) for direct links. It is also available as part of a larger kit from [Maplin](http://www.maplin.co.uk/raspberrypi).
