--- 
title: Regulator Board
---

<img class="scaled" src="/images/regulator_board.JPG" />

The regulator board is used to take a potentially noisy input electrical supply, and provide a stable output DC supply. This allows the Raspberry Pi and other components to be powered by batteries, without the varying current draws of the components interfering with each other. The board has a switch which allows all components to be powered down at once.

When powering a Raspberry Pi through the regulator board, the normal micro-USB power supply should not be used.

## PURCHASE

The regulator board is currently custom made and unavailable for purchase.

Experts only: all information required to build the regulator board is [here](/resources/regulator_board.zip).
