--- 
title: Resistor
---

<img class="scaled" src="/images/resistors.JPG" />

Resistors are used to change the amount of current flowing through a part of the circuit. This is often used as a means of protecting components which cannot handle large currents.

The current allowed to flow through a resistor can be calculated using: I = V/R (current = voltage/resistance).

There are many different resistors available, so they have a sequence of coloured stripes to show their resistance. See [here](http://en.wikipedia.org/wiki/Electronic_color_code) for details on how to decipher the colour coding.

## PURCHASE

Resistors can be purchased from most electronics retailers.
