--- 
title: Ribbon Cable
---

<img class="scaled" src="/images/ribbon_cable.JPG" />

A ribbon cable is used to connect the Raspberry Pi's GPIO pins to a breadboard, making it easier to connect external components. One end of the ribbon cable plugs directly into the Raspberry Pi (with the red stripe nearest the edge of the board), and the other end plugs into a [breakout board](/components/breakout_board/), which is in turn connected to a [breadboard](/components/breadboard/). There can also be intermediate plugs allowing multiple breakout boards to be connected.

If you do not have a ribbon cable, it is possible to plug wires and components directly into the Pi's GPIO pins.

## PURCHASE

Ribbon cables can be purchased as part of [Adafruit's breakout kit](http://adafruit.com/products/914), or from most electronics retailers. The Raspberry Pi requires a 26 pin ribbon cable.
