--- 
title: Robot Chassis
---

<img class="scaled" src="/images/robot_chassis.JPG" />

The robot chassis allows the Raspberry Pi to become mobile. It has space for servos, batteries, a Raspberry Pi, a [regulator board](/components/regulator_board/), our [custom Pi shield](/components/custom_pi_shield/), and a variety of sensors.

At the front of the robot is a bumper which is sensitive to collisions on both the left and the right. The left side sends input to GPIO pin 21, and the right side sends input to pin 18.

## PURCHASE

The robot chassis is currently custom made and unavailable for purchase. If you have access to a laser cutter, you may be able to build one yourself.

Experts only: all information and templates required to build your own robot chassis can be found [here](/resources/robot_chassis.zip).

## ASSEMBLY INSTRUCTIONS

Information on how to assemble the robot can be found [here](/robot_assembly/).
